@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic&display=swap");
$title-font: "Nanum Gothic", "Impact", sans-serif;
$main-font: "Montserrat", "Arial", sans-serif;
$text-theme: rgb(56, 56, 55);
$background-theme: rgb(60, 40, 116);
$button-theme-num: rgb(243, 231, 166);
$button-theme-method: rgb(247, 181, 83);
$button-theme-other: rgb(255, 147, 183);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// Title ------
.title {
  font-family: $title-font;
  color: $background-theme;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  &__tagline {
    font-family: $main-font;
    font-size: 1rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
}

// Calculator ------
.calculator {
  font-family: $main-font;
  background-color: $background-theme;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 550px;
  box-shadow: 5px 10px 5px;

  &__window {
    background-color: rgb(235, 248, 247);
    color: $text-theme;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    text-align: end;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  &__pad {
    color: $text-theme;
    font-weight: bold;
    font-size: 1.2rem;
    height: 400px;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "ac ac back back"
      "seven eight nine multiply"
      "four five six divide"
      "one two three subtract"
      "zero zero zero plus"
      "decimal decimal equals equals";
  }
  &__button {
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    box-shadow: 5px 5px 5px;
    cursor: pointer;
  }

  #calculator__button--zero {
    grid-area: zero;
    background-color: $button-theme-num;
  }
  #calculator__button--one {
    grid-area: one;
    background-color: $button-theme-num;
  }
  #calculator__button--two {
    grid-area: two;
    background-color: $button-theme-num;
  }
  #calculator__button--three {
    grid-area: three;
    background-color: $button-theme-num;
  }
  #calculator__button--four {
    grid-area: four;
    background-color: $button-theme-num;
  }
  #calculator__button--five {
    grid-area: five;
    background-color: $button-theme-num;
  }
  #calculator__button--six {
    grid-area: six;
    background-color: $button-theme-num;
  }
  #calculator__button--seven {
    grid-area: seven;
    background-color: $button-theme-num;
  }
  #calculator__button--eight {
    grid-area: eight;
    background-color: $button-theme-num;
  }
  #calculator__button--nine {
    grid-area: nine;
    background-color: $button-theme-num;
  }
  #calculator__button--plus {
    grid-area: plus;
    background-color: $button-theme-method;
  }
  #calculator__button--divide {
    grid-area: divide;
    background-color: $button-theme-method;
  }
  #calculator__button--multiply {
    grid-area: multiply;
    background-color: $button-theme-method;
  }
  #calculator__button--subtract {
    grid-area: subtract;
    background-color: $button-theme-method;
  }
  #calculator__button--back {
    grid-area: back;
    font-size: 2rem;
    font-weight: bold;
    background-color: $button-theme-other;
  }
  #calculator__button--equals {
    grid-area: equals;
    background-color: $button-theme-other;
  }
  #calculator__button--ac {
    grid-area: ac;
    background-color: $button-theme-other;
  }

  #calculator__button--decimal {
    grid-area: decimal;
    background-color: $button-theme-other;
    font-size: 2rem;
    font-weight: bold;
  }
}

// Larger screens

@media screen and (min-width: 768px) {
  .title {
    font-size: 4rem;

    &__tagline {
      font-size: 2rem;
    }
  }
  .calculator {
    padding: 20px;
    margin: 20px;
    width: 600px;
    height: 750px;

    &__window {
      height: 170px;
      padding: 20px;
      font-size: 3.5rem;
    }
    &__pad {
      height: 500px;
      padding: 10px;
      font-size: 2rem;
    }
    &__button {
      margin: 6px;
    }
  }
}
